*{
    padding: 0; 
    margin: 0;
}

body{
    font-family: 'Dancing Script', cursive;
}
/*inicio de la cabecera*/
.cabecera{
   background-color: #5b7989;
   width: 100%;
   height: 100px;
   border-radius:10px 10px 0 0; 
}

.titulo{
    color: white;
    float: left;
    margin: 20px 20px;
    padding: 20px 0px 0 70px;
    width: 70%;
}
 
.menu-navegacion ul li{
    float: left;
    padding: 20px;
    margin: 20px 0;
    list-style: none;
    
    
}
.menu-navegacion ul li :active{
    color: white;

}

.menu-navegacion ul li :visited{
    color: white;

}

.menu-navegacion ul li:hover{
    background-color: rgb(170, 170, 231);
    

}

/*fin de la cabecera*/
/*inicio del cuerpo de la pagina*/
.caja-img{
    width: 100%;
    height: 700px;
    background-color: #d5c75f;
    
}
.caja-img1 , .caja-img2, .caja-img3 , .caja-img4 , .caja-img5 , .caja-img6 {
    width: 33%; 
    float: left;
    list-style: none;
    margin: 20px 0px 20px 0px;
}

.img-1 , .img-2 , .img-3 , .img-4, .img-5 , .img-6{
    padding: 0px 0px 0px 30px;
    width: 90%;
}
.img-1{
    filter: blur(10px);
}
.img-2 , .img-4 , .img-6{
    filter: grayscale(100%);
}

.img-3{
    filter: sepia(90%);
}


/*fin del cuerpo de la pagina*/
/*inicio del pie de pagina*/
.pie-pagina{
    
    width: 100%;
    border: 0px 0px 10px 10px;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    
} 

.caja-contactos{
    width: 25%;
    float: left;
}
.contactos{
    margin: 20px;
}
.caja-terminos{
    width: 25%;
    float: left;
}
.terminos{
    margin: 20px;
}


.caja-redes{
    width: 25%;
    float: left;
}

.redes{
    margin: 10px;
}

.caja-redes img{
    width: 40px;
    height: 40px;
    float: left;
    margin: 20px;
   
}

.redes p{
    
    padding: 30px;
   
}

.instagram-logo{
    width: 90px;
    height: 90px;
}

.caja-derechos{
    width: 25%;
    float: left;
}
.derechos{
    margin: 20px;
}


/*fin del pie de pagina*/

/*inicio del @media*/


@media only screen and (max-width: 375px) {
    .cabecera {
      width: 100%;
      height: 200px;
      
    }

    .titulo{
        width: 60%;
        float: left;
        font-size: 15px;
        text-align: center;
        margin: 0 170px 0 0;
        
    }
    .menu-navegacion ul li{
        float: left;
        width: 20%;
        height: 3;
    }

    .caja-img{
        width: 100%;
        height: 1870px;
    }

    .caja-img1 , .caja-img2, .caja-img3 , .caja-img4 , .caja-img5 , .caja-img6 {
       width: 100%;
        
    }

    .img-1 , .img-2 , .img-3 , .img-4, .img-5 , .img-6{
        padding: 0px 0px 0px 19px;
        width: 90%;
    }

    .caja-contactos{
        display: block;
        width: 100%;
        
    }

    .caja-terminos{
        display: block;
        width: 100%;
        
    }

    .caja-redes{
        display: block;
        width: 100%;
        
    }
    
    .caja-derechos{
        display: block;
        width: 100%;
        
    } 
}

@media only screen and (min-width:425px) and (max-width: 425px) {
    .cabecera {
      width: 100%;
      height: 200px;
      
    }

    .titulo{
        width: 60%;
        float: left;
        font-size: 15px;
        text-align: center;
        margin: 0 170px 0 0;
        
    }
    .menu-navegacion ul li{
        float: left;
        width: 20%;
        height: 3;
    }

    .caja-img{
        width: 100%;
        height: 1870px;
    }

    .caja-img1 , .caja-img2, .caja-img3 , .caja-img4 , .caja-img5 , .caja-img6 {
       width: 100%;
        
    }

    .img-1 , .img-2 , .img-3 , .img-4, .img-5 , .img-6{
        padding: 0px 0px 0px 19px;
        width: 90%;
    }

    .caja-contactos{
        display: block;
        width: 100%;
        
    }

    .caja-terminos{
        display: block;
        width: 100%;
        
    }

    .caja-redes{
        display: block;
        width: 100%;
        
    }
    
    .caja-derechos{
        display: block;
        width: 100%;
        
    } 
}